# ------------------------
# Node.js
# ------------------------
node_modules/
npm-debug.log
package-lock.json

# ------------------------
# Environment Variables
# ------------------------
.env
.env.*

# ------------------------
# Logs
# ------------------------
logs/
*.log

# ------------------------
# Coverage
# ------------------------
coverage/

# ------------------------
# VS Code
# ------------------------
.vscode/

# ------------------------
# OS Files
# ------------------------
Thumbs.db
.DS_Store

# ------------------------
# Terraform
# ------------------------
.terraform/
*.tfstate
*.tfstate.*
crash.log

# ------------------------
# Helm
# ------------------------
*.tgz

# ------------------------
# Kubernetes
# ------------------------
kubeconfig

# ------------------------
# Build
# ------------------------
dist/
build/

# ------------------------
# Temporary
# ------------------------
tmp/
temp/